Buna $user,

  Multumim pentru inregistrare ! Urmatorul pas este de a activa contul, pentru a-l activa va rugam sa intrati pe link-ul urmator:
  
  http://10.227.96.28:8080/C5Stele/activation?activationcode=$uid
  
  Multumim,
  C5Stele

